h1{
text-align: center;
margin-top: 0;
margin-bottom: auto;
font-weight: 500;
line-height: 1.2;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}
.th{
color:black;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size:large;
font-weight: lighter;

}
span{
color: black;

}
*{
background-color:#BACD92

}
